# Container Orchestrator
CONTAINER_ORCHESTRATOR=docker

# PostgreSQL Database
POSTGRES_HOST=ace_db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ace

# NATS Messaging Broker
NATS_URL=nats://ace_broker:4222

# Frontend
VITE_API_URL=http://localhost:8080
